<odoo>

	<record id="action_pinjaman_list_pokok" model="ir.actions.act_window">
        <field name="name">Simpanan Pokok</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">hr.koperasi</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[('type', '=', 'pokok')]</field>
        <field name="context">{'default_type':'pokok'}</field>
		<field name="help" type="html">
			<p class="oe_view_nocontent_create">
				Click to add a cash receipt
			</p>
		<p>klik tombol create untuk menambahkan data pinjaman baru</p>
		</field>
	</record>

	<record id="action_pinjaman_list_wajib" model="ir.actions.act_window">
        <field name="name">Simpanan Wajib</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">hr.koperasi</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[('type', '=', 'wajib')]</field>
        <field name="context">{'default_type':'wajib'}</field>
		<field name="help" type="html">
			<p class="oe_view_nocontent_create">
				Click to add a cash receipt
			</p>
		<p>klik tombol create untuk menambahkan data pinjaman baru</p>
		</field>
	</record>

    <record id="action_transaksi_pokok" model="ir.actions.act_window">
        <field name="name">Transaksi Simpanan Pokok</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">hr.koperasi.detail</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,graph</field>
        <field name="domain">[('type', '=', 'pokok'),('paid','=',True)]</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">
                Click to add a cash receipt
            </p>
        <p>klik tombol create untuk menambahkan data pinjaman baru</p>
        </field>
    </record>

    <record id="action_transaksi_wajib" model="ir.actions.act_window">
        <field name="name">Transaksi Simpanan Wajib</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">hr.koperasi.detail</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,graph</field>
        <field name="domain">[('type', '=', 'wajib'),('paid','=',True)]</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">
                Click to add a cash receipt
            </p>
        <p>klik tombol create untuk menambahkan data pinjaman baru</p>
        </field>
    </record>

	<record id="action_rekap_list" model="ir.actions.act_window">
        <field name="name">Rekapitulasi</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">hr.rekap.koperasi</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree</field>
        <field name="context">{'}</field>
		<field name="help" type="html">
			<p class="oe_view_nocontent_create">
				Click query data rekap koperasi
			</p>
		<p>Belum data rekapitulasi mutasi pinjaman dan simpanan koperasi</p>
		</field>
	</record>

	<menuitem id="bgt_koperasi"
			name="Koperasi"
			web_icon="bgt_koperasi,static/description/icon.png"
			sequence="50"
			/>

	<menuitem id="data_anggota_koperasi"
			name="Data Anggota"
			parent="bgt_koperasi"
			sequence="10"
			groups="bgt_koperasi.group_user_koperasi"/>

    <menuitem id="data_transaksi_koperasi"
            name="Report Transaksi"
            parent="bgt_koperasi"
            sequence="15"
            groups="bgt_koperasi.group_user_koperasi"/>

    <menuitem id="transaksi_koperasi_simpanan_pokok"
            name="Transaksi Simpanan Pokok"
            parent="data_transaksi_koperasi"
            action="action_transaksi_pokok"
            sequence="10"
            groups="bgt_koperasi.group_user_koperasi"/>

    <menuitem id="transaksi__koperasi_simpanan_wajib"
            name="Transaksi Simpanan Wajib"
            parent="data_transaksi_koperasi"
            action="action_transaksi_wajib"
            sequence="20"
            groups="bgt_koperasi.group_user_koperasi"/>

	<menuitem id="pinjaman_koperasi_pokok"
			name="Simpanan Pokok"
			parent="data_anggota_koperasi"
			action="action_pinjaman_list_pokok"
			sequence="10"
			groups="bgt_koperasi.group_user_koperasi"/>

	<menuitem id="pinjaman_koperasi_wajib"
			name="Simpanan Wajib"
			parent="data_anggota_koperasi"
			action="action_pinjaman_list_wajib"
			sequence="20"
			groups="bgt_koperasi.group_user_koperasi"/>

	<menuitem id="rekapitulasi_koperasi"
			name="Rekapitulasi"
			parent="bgt_koperasi"
			sequence="20"
			groups="bgt_koperasi.group_user_koperasi"/>

	<menuitem id="rekapitulasi_koperasi_query"
			name="Query"
			parent="rekapitulasi_koperasi"
			action="show_query_rekap_wizard"
			sequence="10"
			groups="bgt_koperasi.group_user_koperasi"/>

    <menuitem id="generate_koperasi_query"
            name="Generate Bunga"
            parent="rekapitulasi_koperasi"
            action="show_generate_bunga_wizard"
            sequence="5"
            groups="bgt_koperasi.group_user_koperasi"/>

	<menuitem id="rekapitulasi_koperasi_result"
			name="Result"
			parent="rekapitulasi_koperasi"
			action="action_rekap_list"
			sequence="20"
			groups="bgt_koperasi.group_user_koperasi"/>

</odoo>